body {
  font-family: "Montserrat";
  font-size: 15px;
  height: 100vh;
  width: 100vw;
  padding: 0rem;
  margin: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: hsl(240, 78%, 98%);
}

#toggle {
  display: none;
}

label {
  display: inline-block;
  width: 50px;
  height: 30px;
  margin-left: 1rem;
  margin-right: 1rem;
  background-image: linear-gradient(
    to bottom right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}

label::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 2px;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

#toggle:checked + label {
  background-color: #2196f3;
}

#toggle:checked + label::before {
  transform: translateX(20px);
}

.top {
  position: absolute;
  right: 0;
  top: 0;
}

.bottom {
  position: absolute;
  left: 0;
  bottom: 0;
}

.title {
  font-weight: 700;
  margin-bottom:1rem;
  color: hsl(233, 13%, 49%);
}

.slider {
  margin-top: 1rem;
  color: hsl(234, 14%, 74%);
  font-weight: 700;
  display: flex;
  margin-bottom: 4rem;
}

.cards {
  height: 50vh;
  width: 60vw;
  min-width: max-content;
  min-height: fit-content;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.currency {
  display: flex;
  align-items: center;
}

.dollar{
  font-weight: 700; 
  margin-bottom : 0rem;
}

#price1, #price2, #price3 {
  font-weight: 700; 
  font-size: 4rem;
}

hr {
  width: 90%;
}

.plan {
  font-weight: 700; 
  margin-bottom : 0rem;
  margin-top : 0rem;
}

.card1 {
  height: 90%;
  width: 33%;
  background: white;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-shadow: 2px 2px 23px hsl(234, 14%, 74%);
}

.text1 {
  margin-top : 1rem;
  margin-bottom : 1rem;
  color: hsl(233, 13%, 49%);
}

.feature {
  font-size: x-large;
  font-weight: 700;
  height : 1rem;
  position: relative;
  bottom:0.5rem;
}

.base1 {
  width: 17rem;
  height: 2.5rem;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.2rem;
  border: 1px solid transparent;
  background-image: linear-gradient(
    to bottom right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
}

.base1:hover {
  background: white;
  color: hsl(237, 63%, 64%);
  border: 1px solid black;
  cursor: pointer;
}

.card2 {
  height: 100%;
  width: 33%;
  color: white;
  background-image: linear-gradient(
    to bottom right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.base2 {
  width: 17rem;
  height: 2.4rem;
  color: hsl(237, 63%, 64%);
  font-weight: bold;
  display: flex;
  padding:0.4rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
  border: 1px solid transparent;
  background-color: white;
  margin-bottom: 1rem;
  margin-top:1.1rem;
  position: relative;
  bottom: 0.8rem;
}


.base2:hover {
  background: linear-gradient(
    to bottom right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

.card3 {
  height: 90%;
  width: 33%;
  background: white;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-shadow: 2px 2px 23px hsl(234, 14%, 74%);
}

@media (max-width:1440px){
  body {
    width:100vw;
    height : auto;
  }
  .cards {
    height: auto;
    min-width: max-content;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }

  .base1 {
    margin-bottom: 1rem;
    margin-top : 1rem;
  }

  .card1 , .card2 , .card3{
    width : 90%;
    height:auto;
    margin-bottom : 3rem;
    border-radius: 0.5rem;
  }
  
  .price1 {
    font-size: 3rem;
  }

  .top {
    position: absolute;
    left: 140px;
    top: 0;
    overflow: hidden;
}

  .bottom {
    display: none;
  }
}